.home {
	width: 100%;
}
.signIn {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.container {
	width: 100%;
	max-width: 1080px;
	margin: 0 auto;
	margin-top: 40px;
    padding: 0px 24px;
    padding-bottom: 5vh;
}
