@import '../node_modules/antd/dist/antd.min.css';

html,
body {
	padding: 0;
	margin: 0;
	font-family: '-apple-system', 'Noto Sans TC', 'BlinkMacSystemFont', ' Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'sans-serif', '微軟正黑體';
}
// next router loading style
#__next-prerender-indicator,
#__next-build-watcher {
	display: none;
}
a {
	color: inherit;
	text-decoration: none;
}
* {
	box-sizing: border-box;
	position: relative;
}

.app {
	width: 100%;
	.ant-descriptions-bordered .ant-descriptions-item-content:last-child,
	.ant-descriptions-bordered .ant-descriptions-item-label:last-child {
		width: 60%;
	}
}
h2 {
	font-weight: bold;
	margin-top: 40px;
}
